<!doctype html>
<html>
  <head>
    <%= partial 'partials/head' %>
  </head>
  <body>
    <%= partial 'partials/header' %>
    <main>
      <%= yield %>
    </main>
    <%= partial 'partials/footer' %>
    <%= partial 'partials/end_scripts' %>
  </body>
</html>
