<% id = section&.title&.downcase&.gsub!(/[^0-9A-Za-z]/, '-') %>
<% uid = SecureRandom.urlsafe_base64(8) %>

<script>
  function toggleBlock(trigger) {
    try {
      document
        .querySelector('div[data-hidden-block="' + trigger.dataset.triggerId + '"]')
        .classList
        .toggle('hidden')
    } catch (error) {}
  }
</script>

<section class="section" style="padding-top: 0; margin-top: -3rem;">
  <div class="container">
    <header style="margin-bottom: 2rem">
      <% if section.title.present? %>
        <div id="<%= id %>" data-trigger-id="<%= uid %>" tabindex="0" class="title is-2 is-size-3-mobile has-text-centered" style="cursor: pointer;" onclick="toggleBlock(this)"><%= section.title %></div>
      <% end %>
      <% if  section.subtitle.present? %>
        <p class="subtitle is-4 is-size-5-mobile has-text-centered"><%= section.subtitle %></p>
      <% end %>
    </header>

    <% if section && section.files && section.files.length %>
      <div class="hidden" data-hidden-block="<%= uid %>">
        <% section&.files.each do |file| %>
          <iframe style="display: block; margin: auto; max-width: 100%;" width="960" height="320" src="<%= file.url %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
