<section class="section">
  <div class="container">
    <%= partial 'partials/section_header', locals: { section: section } %>
    <div class="columns">
      <div class="column is-7">
        <div class="content is-medium">
          <%= markdown section.content %>
        </div>

        <%= partial 'partials/files_list', locals: { files: section&.files } %>
      </div>
      <div class="column is-5 has-content-centered" data-controller="modal">
        <% if section.images %>
          <% section.images.each_with_index do |image, index| %>
            <a role="button" tabindex="0" data-action="click->modal#open">
              <figure class="image">
                <%= image_tag image.image, alt: image.label, data: { index: index } %>
              </figure>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= partial 'partials/image_modal', locals: { images: section.images } %>
  </div>
</section>
